
<div class="characters {scene_id: <%= scene.id %>}">
	<ul>
		<% Character.all(:order => 'name').each do |c| %>
			<li><%= link_to image_tag(c.thumbnail_url, :alt => "[Photo of #{c.name}]", :title => c.name), '#', :class => "#{scene.characters.include?(c) ? 'active' : ''} {character_id: #{c.id}}" %></li>
		<% end %>
	</ul>
	<div class="clr"></div>
	<p class="tip">Click a character's photo to add or remove them from the scene</p>
</div>

<%= semantic_form_for scene, :remote => true do |f| %>
	<%= f.inputs do %>
		<%= f.input :title %>
		<%= f.input :description, :required => false %>
		<%= f.input :start_time, :required => false, :label => "Start:", :as => :string %>
		<%= f.input :end_time, :required => false, :label => "End:", :as => :string %>
		<%= f.input :location, :label => "Location:", :required => false %>
	<% end %>
<% end %>

<p class="save-message">
	All changes save automatically. <a href="#" class="close">Click here (or press the escape key) to close this form.</a>
</p>


