
<nav class="actions">
	<!-- <%= link_to "&larr; Return to list".html_safe, characters_path %> -->
	<%= link_to "Edit Character", edit_character_path(@character) %>
</nav>

<section class="character-details" id="character-<%= @character.id %>">
	<h3><%= @character.name %></h3>
	
	<p><%= image_tag @character.photo_url, :alt => "[Photo of #{@character.name}]" %></p>
	
	<% if !@character.description.blank? %>
		<p class="description">
			<%= simple_format(@character.description) %>
		</p>
	<% end %>
	
	<% if !@character.facebook_id.blank? %>
		<p class="actor">
			<strong>Played by:</strong>
			<%= link_to @character.actor_name, @character.facebook_url %>
		</p>
	<% end %>
	
</section>

<% if @character.scenes.length > 0 %>
	<section class="scenes">
		<h4>Featured in <%= pluralize @character.scenes.length, 'scene' %>:</h4>
		<table>
			<thead>
				<tr>
					<th>Scene</th>
					<th>Location</th>
					<th>Characters</th>
				</tr>
			</thead>
			<tbody>
				<% @character.scenes.each do |scene| %>
					<tr class="<%= cycle('odd', 'even') %>">
						<td class="title"><%= scene.title %></td>
						<td><%= scene.location %></td>
						<td><%= scene.characters.collect{|c| link_to c.name, character_path(c.id) }.to_sentence.html_safe %></td>
					</tr>
				<% end %>
			</tbody>
		</table>		
	</section>
<% end %>
