
<nav class="actions">
	<!-- <%= link_to "&larr; Return to list".html_safe, characters_path %> -->
	<%= link_to "Edit Character", edit_character_path(@character) %>
</nav>

<section class="character-details" id="character-<%= @character.id %>">
	<h3><%= @character.name %></h3>
	
	<p><%= image_tag @character.photo_url, :alt => "[Photo of #{@character.name}]" %></p>
	
	<% if !@character.description.blank? %>
		<p class="description">
			<%= simple_format(@character.description) %>
		</p>
	<% end %>
	
	<% if @character.facebook_id %>
		<p class="actor">
			<strong>Played by:</strong>
			<%= link_to @character.actor_name, @character.facebook_url %>
		</p>
	<% end %>
		
</section>
